input{
	border-radius: 5px;
}
#calculadora{
	margin-top: 3%;
}
#calc{
	float: right;
	color: #d88537;


}
#button{
	margin-left: 40%;
}
#nav{
	background-color: #455ed1;
	background: #455ed1;
}
#air{
	color: #d88537;

}
#color{
	color: #d88537;


}
body{
	font-size: 20px;
}
footer{
	background-color: gray;
	font-size:11px;
	text-align: center;

}
a{
	text-decoration: none;
}
